name: BIST AI BOT

on:
  schedule:
    - cron: '10 15 * * *'   # Türkiye saatiyle 18:10
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Repo indir
        uses: actions/checkout@v4

      - name: Python kur
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Kütüphaneleri yükle
        run: |
          pip install yfinance pandas requests schedule

      - name: Botu çalıştır
        run: python bist_fund_system.py
